<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{customer.customerName}}
    </mat-card-title>
    <mat-card-subtitle>{{customer.email}}</mat-card-subtitle>
    <mat-card-subtitle>{{customer.mobileNo}}</mat-card-subtitle>
    <mat-card-subtitle>{{customer.address}}</mat-card-subtitle>
    <button mat-icon-button (click)="ediCustomer()"><mat-icon>settings</mat-icon></button>
  </mat-card-header>
</mat-card>
<div *ngIf="this.customerService.editing.getValue()">
  <app-customer-edit [customer]="customer"></app-customer-edit>
</div>
